.navbar-brand img{
    width: 170px;
    height: 5%;
    left: 0px;
    top: 0px;
}
#bgurl{
    background-repeat: no-repeat;
    /* opacity: 0.6; */
    overflow: hidden;
    text-align: center;
}
#bgurl img{
    object-fit: contain;
    width: auto;
    height: 300px;
    border-radius: 50%;
    opacity: 1.6;
    z-index: 2;
}
#card-hrader{
    background-image: url(img/bac.png);
}
